<!DOCTYPE html>
<html lang="eng">

<head>
    <meta charset="utf-8">
    <title>Schoolmatch</title>

    <!-- css inladen -->
    <link rel="stylesheet" href="css/style.css">


</head>

<body>
    <header>
        <nav>

            <li class="logo">
                <a href="/"><img src="images/logo.png" alt="logo"></a>
            </li>
            <ul>

                <li><a href="about">About</a>
                <li><a href="login">Inloggen</a>
                    <button class="signinButton"><a href="register">Sign up</a></button>
            </ul>
        </nav>
    </header>

    {{{body}}}

    <script src="http://localhost:3000/socket.io/socket.io"></script>
    <script src="/static/js/chat"></script>
    

</body>

</html>