<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="utf-8">
    <title>Schoolmatch</title>

     <!-- css inladen -->
    <link rel="stylesheet" href="./index.css">

</head>
<body>
    <header>
        <nav>
                
                <li class="logo">
                    <a href="inloggen"><img src="images/logo.png" alt="logo"></a>
                </li>
            <ul>
                
                <li><a href="about">About</a>
                <li><a href="inloggen">Inloggen</a>
                <button class="signinButton"><a href="signup">Sign up</a></button>
            </ul>
        </nav>
    </header>
    
    {{{body}}}
    
</body>
</html>