<body>

    <section class="about">
        <div class="content">
            <img src="images/voorkeuren.png" alt="schoolmatch logo">
            <div class="text">
                <h1>About Us</h1>
                <h2>Schoolmatch - Dating app</h2>
                <p>Onze matching app helpt studenten die op zoek zijn naar een nieuwe opleiding door ze te matchen
                    met scholen die overeenkomen met hun interesses. </p>
                <p>Onze applicatie word een app waarin je opzoek gaat naar de juiste studie keuze voor jou.
                    Als je je geregistreerd heb en ingelogd bent kan je bij de onboarding van de app je voorkeuren
                    doorgeven
                    aan de applicatie die jou vervolgens gaat matchen aan een aantal scholen waar je dit zou kunnen
                    volgen.
                    Vervolgens kan je een bericht sturen naar de scholen waar je eventueel interesse in heb en vragen
                    stellen en informatie vergaren.</p>
                <button id="shareButton" type="button">Deel mijn profiel</button>
                <p class="result"></p>
            </div>

        </div>

    </section>
    

</body>