<div class="join-container">
    <main class="join-main">
        <form action="/chatroom">
            <div class="form-control">
                <label for="username">Username</label>
                <input type="text" name="username" value="{{gebruikersnaam}}" id="username" placeholder="{{user.gebruikersnaam}}" required />
            </div>
            <div class="form-control">
                <label for="room">Room</label>
                <select name="room" id="room">
                    <option value="hva">Hva</option>
                    <option value="roc">Roc</option>
                    <option value="utrecht">Utrecht</option>
                </select>
            </div>
            <button type="submit" class="btn">Join Chat</button>
        </form>
    </main>
</div>