<main class="chat">
    <form action="/chatroom">
        <div class="form-control">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" placeholder="Enter username..." required />
        </div>
        <div class="form-control">
            <label for="room">Room</label>
            <select name="room" id="room">
                <option value="hva">Hogeschool van Amsterdam</option>
                <option value="roc">Roc</option>
                <option value="utrecht">Universiteit Utrecht</option>
            </select>
        </div>
        <button type="submit">Join Chat</button>
    </form>
</main>