<div class="join-container">
    <main class="join-main">
        <form action="/chatroom">
            {{#each user}}
            <div class="form-control">
                <label for="username">Username</label>
                <input type="text" name="username" value="{{this.gebruikersnaam}}" id="username" required />
            </div>
            {{/each}}
            <div class="form-control">
                <label for="room">Room</label>
                <select name="room" id="room">
                    <option value="hva"></option>
                </select>
            </div>
            <button type="submit" class="btn">Join Chat</button>
        </form>
       
    </main>
</div>