<article class="filter">

<h1>Welke school past bij jou?</h1>
    <p>
      Geef je voorkeuren door en wordt gematcht met scholen die het best bij jou passen.
    </p>
    
    <a href="/form">Okay!</a>
    
</article>