<section class="keuze">

<h1>Geef je voorkeuren door</h1>
      <form method="post" action="/form" enctype="multipart/form-data">
        <label for="locatie">Waar wil je studeren?</label>
        <select id="locatie" name="locatie">
          <option value="Amsterdam">Amsterdam</option>
          <option value="Utrecht">Utrecht</option>
          <option value="Leiden">Leiden</option>
        </select>

        <label for="niveau">Op welk niveau wil je studeren?</label>
        <select id="niveau" name="niveau">
          <option value="MBO">MBO</option>
          <option value="HBO">HBO</option>
          <option value="WO">WO</option>
        </select>
        
        <label for="onderwerp">Wat zijn je interesses?</label>
        <select id="onderwerp" name="onderwerp">
          <option value="Bouw en Infrastructuur">Bouw en Infrastructuur</option>
          <option value="Design en Creatie">Design en Creatie</option>
          <option value="Gezondheid">Gezondheid</option>
          <option value="Economie en Management">Economie en Management</option>
          <option value="ICT">ICT</option>
          <option value="Logistiek, Lucht- en Zeevaart">
            Logistiek, Lucht- en Zeevaart
          </option>
          <option value="Media en Communicatie">Media en Communicatie</option>
          <option value="Mens en Maatschappij">Mens en Maatschappij</option>
          <option value="Onderwijs en Opvoeding">Onderwijs en Opvoeding</option>
          <option value="Recht en Bestuur">Recht en Bestuur</option>
          <option value="Sport en Voeding">Sport en Voeding</option>
          <option value="Techniek">Techniek</option>
        </select>

        <label>
          <input type="submit" value="Zoek matches!" />
        </label>
      </form>

</section>