<!-- <h1>Hello world ghjsdhliue</h1> -->

<section class="homeInlog">
<form method="POST" action="/login" id="loginForm">
                <label>Email</label>
                <input name="email" type="email" placeholder="Email" id="email">
                <p id="erroremail"></p>

                <label>Wachtwoord</label>
                <input name="password" type="password" placeholder="Wachtwoord" id="password">
                <p id="errorpassword"></p>

                <input class="signinButtonForm" type="submit" value="Login">

                {{!-- <button class="signinButtonForm" type="submit">Login</button> --}}
    </form>      
</section>

<div class="homeInlog">
    <h3>Nog geen account? <a id="meldAan" href="signup">Meld je nu aan</a></h3>
</div>