<section class="home">
    <h1>Welkom bij School Match!</h1>
    <p>Ben je op zoek naar een nieuwe opleiding?</p>
    <p>Meld je aan en wordt gematcht met scholen die bij jou passen.</p>
    <button><a href="register">Meld je nu aan</a></button>
</section>

<div class="homeInlog">
    <a href="/auth/google" class="googlebutton">
        <img src="images/google.png" class="googleimage" alt="google login">
        Login met je Google account
    </a>
</div>