<!-- <h1>Hello world ghjsdhliue</h1> -->

<section class="homeInlog">
<form method="POST" action="/inloggen" id="loginForm">
                <label>Email</label>
                <input name="email" type="email" placeholder="Email" required="required">

                <label>Wachtwoord</label>
                <input name="password" type="password" placeholder="Wachtwoord" required="required">

                <button class="signinButton" type="submit">Login</button>
    </form>      
</section>

<div class="homeInlog">
    <h3>Nog geen account? <a id="meldAan" href="signup">Meld je nu aan</a></h3>
</div>

<div class="homeInlog">
    <a href="/auth/google" class="googlebutton">
        <img src="images/google.png" class="googleimage" alt="google login">
        Login met je Google account
    </a>
</div>