 
    <div class="homeInlog">    
    <form id="loginForm" method="post" action="/login">   
        <h3>Login Pagina</h3>   
           <label for="email">email</label> 
           <input name="email" type="email" id="email" required='required'>
       
           <label for="wachtwoord">wachtwoord</label> 
           <input name="wachtwoord" type="password" id="wachtwoord" required='required'>
      
           <button class="signinButton" id="log" type="submit">Login</button>
       

    <h3>Nog geen account? <a id="meldAan" href="register">Meld je nu aan</a></h3>
   
    </form>     
    </div>   