<h1>Login Pagina</h1>   
    <div class="login">    
    <form id="loginForm" method="post" action="/login">    
       <div>
           <label for="email">email</label> 
           <input name="email" type="email" id="email" required='required'>
       </div>
       <br>
       <div>
           <label for="wachtwoord">wachtwoord</label> 
           <input name="wachtwoord" type="password" id="wachtwoord" required='required'>
       </div>
       <br>
       <button id="log" type="submit">Login</button>
        <br>
        <br>
       <div class="homeInlog">
    <h3>Nog geen account? <a id="meldAan" href="register">Meld je nu aan</a></h3>
    </div>
    </form>     
    </div>      