<form action='/logout' method='POST'>
        <input type='submit' class='googlelogout' value='logout'>
</form>

<article>    
    <p>Geef je voorkeuren door en match meteen met scholen die bij jou passen</p>
    <button class="uitlogWijzig"><a href="/form">Matches zoeken</a></button>
</article>