<header>
        <nav>
            <ul>
                
                <li><a href="about">Sanne Kes</a>
                <button class="uitlogWijzig"><a href="update">Wijzig mijn account</a></button>
                <button class="uitlogWijzig"><a href="">Uitloggen</a></button>
            </ul>
        </nav>
</header>

<h1>Hier komt robin's formulier voor de voorkeuren</h1>