<article>
  <h1>Mijn profiel</h1>
  <ul>
    <li>Naam: <p>{{user.gebruikersnaam}}</p></li>
    <li>Email: <p>{{user.email}}</p></li>
  </ul>

  <section>
    <!--  <form action="bijwerken" method="post"> -->
    {{!-- <a href="/update" class="signinButton">Wijzig mijn account</button> --}}
    <!--     </form>    -->
    <br>
    <form action="/logout" method="post"> 
      <button type="submit" class="signinButton">Uitloggen</button>
    </form> 
    <br>
    <form action="verwijder" method="get">   <!--  wanneer je op de button 'account verwijderen' klikt, verstuurt ('post') 'ie dit formulier naar /verwijderen -->
      <button class="signinButton">Account verwijderen</button>
    </form>
  </section>

</article>

<article>
  <p>Geef je voorkeuren door en match meteen met scholen die bij jou passen</p>
  <button href="/form" class="uitlogWijzig">Matches zoeken</button>
  <!-- wijzigen; maak hier een formulier van met een action die post naar [..] ?-->
</article>