<header>
        <nav>
            <ul>
                
                <li><a href="about">Sanne Kes</a>
                <button class="uitlogWijzig"><a href="/">Wijzig mijn account</a></button>
                <button class="uitlogWijzig"><a href="">Uitloggen</a></button>
                {{!-- button robin --}}
            </ul>
        </nav>
</header>

<h1>dit is mijn profiel!</h1>