<body>
    <section>
        <form action="/uitloggen" method="post">
            <input type="submit" value="uitloggen">
        </form>
        <form action="/bijwerken" method="post">
            <input type="submit" value="bijwerken">
        </form>
    </section>
</body>

<h1>dit is mijn profiel!</h1>