<article>
    <h1>Mijn profiel</h1>
    <ul>           
        <li>Naam: <p>{{user.gebruikersnaam}}</p></li>
        <li>Email: <p>{{user.email}}</p></li>
    </ul>
    
    <section>
        <button class="signinButton"><a href="/">Wijzig mijn account</a></button>
        <button class="signinButton"><a href="">Uitloggen</a></button>
    </section>
</article>

<article>    
    <p>Geef je voorkeuren door en match meteen met scholen die bij jou passen</p>
    <button class="uitlogWijzig"><a href="/form">Matches zoeken</a></button>
</article>