<section class="homeInlog">
    <form id="register" method="post" action="/register">    
        <a href="/profiel" class="backInlog">terug naar mijn profiel</a>
        <h3>Update mijn gegevens</h3> 
            <label for="email">email</label>
            <input name="email" type="email" id="email" required>
    
            <label for="gebruikersnaam">gebruikersnaam</label> 
            <input name="gebruikersnaam" type="text" id="gebruikersnaam" required>
       
            <label for="wachtwoord">wachtwoord</label> 
            <input name="wachtwoord" type="password" id="wachtwoord" required>
       
       <button class="signinButton" id="reg" type="submit">Registreer</button>
      
    </form>     
</section>